export OS_AUTH_URL=http://{{ KOLLA_INTERNAL_VIP }}:35357/v3
export OS_USER_DOMAIN_NAME={{ OS_USER_DOMAIN_NAME }}
export OS_IDENTITY_API_VERSION=3
export OS_AUTH_PLUGIN=password
export OS_USERNAME={{ OS_USERNAME }}
export OS_PASSWORD={{ OS_PASSWORD }}
export OS_PROJECT_DOMAIN_NAME={{ OS_PROJECT_DOMAIN_NAME }}
export OS_PROJECT_NAME={{ OS_PROJECT_NAME }} 
export OS_INTERFACE=internal
export OS_TENANT_NAME={{ OS_TENANT_NAME }}
