<?php
// Zabbix GUI configuration file.
global $DB;

$DB['TYPE']     = 'MYSQL';
$DB['SERVER']   = '{{ ZABBIX_DB_HOST }}';
$DB['PORT']     = '3306';
$DB['DATABASE'] = '{{ ZABBIX_DB_NAME }}';
$DB['USER']     = '{{ ZABBIX_DB_USER }}';
$DB['PASSWORD'] = '{{ ZABBIX_DB_PASSWORD  }}';

// Schema name. Used for IBM DB2 and PostgreSQL.
$DB['SCHEMA'] = '';

$ZBX_SERVER      = '{{ ZABBIX_SERVER_HOST }}';
$ZBX_SERVER_PORT = '10051';
$ZBX_SERVER_NAME = 'Zabbix docker';

$IMAGE_FORMAT_DEFAULT = IMAGE_FORMAT_PNG;

?>


