LogType=file
PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server={{ ZABBIX_SERVER_HOST }}
ServerActive={{ ZABBIX_SERVER_HOST }}:10051
Hostname={{ ansible_hostname }}
Include=/etc/zabbix/zabbix_agentd.d/
LoadModulePath=/usr/lib64/zabbix/agent/
LoadModule=zbxpcp.so
