server.host: "0.0.0.0"
server.name: "kibana"
#elasticsearch.url: "http://{{ inventory_hostname }}:{{ ELASTICSEARCH_PORT }}"
elasticsearch.url: "http://{{ ELASTICSEARCH_HOSTNAME }}:{{ ELASTICSEARCH_PORT }}"
#xpack.monitoring.ui.container.elasticsearch.enabled: false

