{
  "__inputs": [
    {
      "name": "DS_ZABBIX",
      "label": "Zabbix",
      "description": "",
      "type": "datasource",
      "pluginId": "alexanderzobnin-zabbix-datasource",
      "pluginName": "Zabbix"
    },
    {
      "name": "DS_ELASTICSEARCH",
      "label": "elasticsearch",
      "description": "",
      "type": "datasource",
      "pluginId": "elasticsearch",
      "pluginName": "Elasticsearch"
    }
  ],
  "__requires": [
    {
      "type": "datasource",
      "id": "alexanderzobnin-zabbix-datasource",
      "name": "Zabbix",
      "version": "1.0.0"
    },
    {
      "type": "panel",
      "id": "alexanderzobnin-zabbix-triggers-panel",
      "name": "Zabbix Triggers",
      "version": ""
    },
    {
      "type": "datasource",
      "id": "elasticsearch",
      "name": "Elasticsearch",
      "version": "5.0.0"
    },
    {
      "type": "grafana",
      "id": "grafana",
      "name": "Grafana",
      "version": "5.0.2"
    },
    {
      "type": "panel",
      "id": "grafana-clock-panel",
      "name": "Clock",
      "version": "0.0.9"
    },
    {
      "type": "panel",
      "id": "graph",
      "name": "Graph",
      "version": "5.0.0"
    },
    {
      "type": "panel",
      "id": "singlestat",
      "name": "Singlestat",
      "version": "5.0.0"
    },
    {
      "type": "panel",
      "id": "table",
      "name": "Table",
      "version": "5.0.0"
    },
    {
      "type": "panel",
      "id": "text",
      "name": "Text",
      "version": "5.0.0"
    }
  ],
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "description": "Linux System Dashboard",
  "editable": true,
  "gnetId": null,
  "graphTooltip": 0,
  "id": null,
  "iteration": 1527222450648,
  "links": [],
  "panels": [
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "zabbix",
      "fill": 1,
      "gridPos": {
        "h": 9,
        "w": 6,
        "x": 0,
        "y": 0
      },
      "id": 7,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "max": true,
        "min": true,
        "show": true,
        "sort": null,
        "sortDesc": null,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "application": {
            "filter": "CPU"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "Processor load (1 min average per core)"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "A",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        },
        {
          "application": {
            "filter": "CPU"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "Processor load (5 min average per core)"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "B",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        },
        {
          "application": {
            "filter": "CPU"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "Processor load (15 min average per core)"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "C",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "Processor load",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ]
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "zabbix",
      "fill": 1,
      "gridPos": {
        "h": 9,
        "w": 6,
        "x": 6,
        "y": 0
      },
      "id": 10,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "max": true,
        "min": true,
        "show": true,
        "sort": "min",
        "sortDesc": false,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "application": {
            "filter": "Memory"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "Available memory"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "B",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "Available memory",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "decbits",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ]
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "zabbix",
      "fill": 1,
      "gridPos": {
        "h": 9,
        "w": 6,
        "x": 12,
        "y": 0
      },
      "id": 16,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "max": true,
        "min": true,
        "show": true,
        "sort": "current",
        "sortDesc": true,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "application": {
            "filter": "CPU"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "CPU softirq time"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "A",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        },
        {
          "application": {
            "filter": "CPU"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "CPU steal time"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "C",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        },
        {
          "application": {
            "filter": "CPU"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "CPU user time"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "D",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        },
        {
          "application": {
            "filter": "CPU"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "hide": true,
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "CPU idle time"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "E",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        },
        {
          "application": {
            "filter": "CPU"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "CPU interrupt time"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "F",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        },
        {
          "application": {
            "filter": "CPU"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "CPU iowait time"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "G",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "CPU Infomation",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "none",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ]
    },
    {
      "bgColor": null,
      "clockType": "24 hour",
      "countdownSettings": {
        "endCountdownTime": "2018-03-22T01:51:00.000Z",
        "endText": "00:00:00"
      },
      "dateSettings": {
        "dateFormat": "YYYY-MM-DD",
        "fontSize": "20px",
        "fontWeight": "normal",
        "showDate": true
      },
      "gridPos": {
        "h": 3,
        "w": 6,
        "x": 18,
        "y": 0
      },
      "id": 25,
      "links": [],
      "mode": "time",
      "offsetFromUtc": "",
      "offsetFromUtcMinutes": "",
      "timeSettings": {
        "customFormat": "HH:mm:ss",
        "fontSize": "30px",
        "fontWeight": "normal"
      },
      "title": "Clock",
      "type": "grafana-clock-panel"
    },
    {
      "ackEventColor": "rgb(56, 219, 156)",
      "customLastChangeFormat": true,
      "datasources": [
        "Zabbix"
      ],
      "descriptionAtNewLine": false,
      "descriptionField": true,
      "fontSize": "80%",
      "gridPos": {
        "h": 6,
        "w": 6,
        "x": 18,
        "y": 3
      },
      "highlightBackground": true,
      "highlightNewEvents": true,
      "highlightNewerThan": "1h",
      "hostField": true,
      "hostGroups": true,
      "hostTechNameField": true,
      "hostsInMaintenance": true,
      "id": 5,
      "lastChangeFormat": "",
      "limit": 100,
      "links": [],
      "markAckEvents": true,
      "okEventColor": "rgb(56, 189, 113)",
      "pageSize": 10,
      "schemaVersion": 4,
      "severityField": true,
      "showEvents": {
        "text": "All",
        "value": [
          0,
          1
        ]
      },
      "showTags": true,
      "showTriggers": "all triggers",
      "sortTriggersBy": {
        "text": "last change",
        "value": "lastchange"
      },
      "statusField": true,
      "targets": {
        "Zabbix": {
          "application": {
            "filter": ""
          },
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": ""
          },
          "tags": {
            "filter": ""
          },
          "trigger": {
            "filter": ""
          }
        }
      },
      "title": "Zabbix Trigger",
      "triggerSeverity": [
        {
          "color": "rgb(108, 108, 108)",
          "priority": 0,
          "severity": "Not classified",
          "show": true
        },
        {
          "color": "rgb(120, 158, 183)",
          "priority": 1,
          "severity": "Information",
          "show": true
        },
        {
          "color": "rgb(175, 180, 36)",
          "priority": 2,
          "severity": "Warning",
          "show": true
        },
        {
          "color": "rgb(255, 137, 30)",
          "priority": 3,
          "severity": "Average",
          "show": true
        },
        {
          "color": "rgb(255, 101, 72)",
          "priority": 4,
          "severity": "High",
          "show": true
        },
        {
          "color": "rgb(215, 0, 0)",
          "priority": 5,
          "severity": "Disaster",
          "show": true
        }
      ],
      "type": "alexanderzobnin-zabbix-triggers-panel"
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "zabbix",
      "fill": 2,
      "gridPos": {
        "h": 10,
        "w": 6,
        "x": 0,
        "y": 9
      },
      "id": 3,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "max": true,
        "min": true,
        "show": true,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "application": {
            "filter": "Network interfaces"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "$Incoming_network_traffic"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "A",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        },
        {
          "application": {
            "filter": "Network interfaces"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [
            {
              "def": {
                "category": "Transform",
                "defaultParams": [
                  100
                ],
                "name": "scale",
                "params": [
                  {
                    "name": "factor",
                    "options": [
                      100,
                      0.01,
                      10,
                      -1
                    ],
                    "type": "float"
                  }
                ]
              },
              "params": [
                "-1"
              ],
              "text": "scale(-1)"
            }
          ],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "$Outcoming_network_traffic"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "B",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "interface nic",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "decbits",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ]
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "zabbix",
      "fill": 1,
      "gridPos": {
        "h": 10,
        "w": 6,
        "x": 6,
        "y": 9
      },
      "id": 22,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "max": true,
        "min": true,
        "show": true,
        "sort": "current",
        "sortDesc": false,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "application": {
            "filter": "Performance"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "Interrupts per second"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "B",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "Interrupts per second",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ]
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "zabbix",
      "fill": 1,
      "gridPos": {
        "h": 10,
        "w": 6,
        "x": 12,
        "y": 9
      },
      "id": 20,
      "legend": {
        "alignAsTable": true,
        "avg": true,
        "current": true,
        "max": true,
        "min": true,
        "show": true,
        "sort": "current",
        "sortDesc": false,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "links": [],
      "nullPointMode": "null",
      "percentage": false,
      "pointradius": 5,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "application": {
            "filter": "Processes"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "Number of running processes"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "B",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeShift": null,
      "title": "Runnning processes",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ]
    },
    {
      "content": "",
      "gridPos": {
        "h": 1,
        "w": 6,
        "x": 18,
        "y": 9
      },
      "id": 28,
      "links": [],
      "mode": "markdown",
      "title": "Docker continer",
      "type": "text"
    },
    {
      "cacheTimeout": null,
      "colorBackground": true,
      "colorValue": false,
      "colors": [
        "#d44a3a",
        "rgba(237, 129, 40, 0.89)",
        "#299c46"
      ],
      "datasource": "zabbix",
      "format": "none",
      "gauge": {
        "maxValue": 100,
        "minValue": 0,
        "show": false,
        "thresholdLabels": false,
        "thresholdMarkers": true
      },
      "gridPos": {
        "h": 4,
        "w": 3,
        "x": 18,
        "y": 10
      },
      "id": 24,
      "interval": null,
      "links": [],
      "mappingType": 1,
      "mappingTypes": [
        {
          "name": "value to text",
          "value": 1
        },
        {
          "name": "range to text",
          "value": 2
        }
      ],
      "maxDataPoints": 100,
      "nullPointMode": "connected",
      "nullText": null,
      "postfix": " run ",
      "postfixFontSize": "50%",
      "prefix": "",
      "prefixFontSize": "50%",
      "rangeMaps": [
        {
          "from": "null",
          "text": "N/A",
          "to": "null"
        }
      ],
      "sparkline": {
        "fillColor": "rgba(31, 118, 189, 0.18)",
        "full": false,
        "lineColor": "rgb(31, 120, 193)",
        "show": false
      },
      "tableColumn": "",
      "targets": [
        {
          "application": {
            "filter": "Zabbix server"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [
            {
              "def": {
                "category": "Aggregate",
                "defaultParams": [
                  "1m"
                ],
                "name": "sum",
                "params": [
                  {
                    "name": "interval",
                    "type": "string"
                  }
                ]
              },
              "params": [
                "1m"
              ],
              "text": "sum(1m)"
            }
          ],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "yj15-monitoring"
          },
          "item": {
            "filter": "Zabbix all agent docker run count3"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false,
            "skipEmptyValues": false
          },
          "refId": "A",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        }
      ],
      "thresholds": "44,40",
      "title": "Docker container run cnt",
      "type": "singlestat",
      "valueFontSize": "80%",
      "valueMaps": [
        {
          "op": "=",
          "text": "N/A",
          "value": "null"
        }
      ],
      "valueName": "current"
    },
    {
      "cacheTimeout": null,
      "colorBackground": true,
      "colorValue": false,
      "colors": [
        "#299c46",
        "rgba(237, 129, 40, 0.89)",
        "#d44a3a"
      ],
      "datasource": "zabbix",
      "format": "none",
      "gauge": {
        "maxValue": 100,
        "minValue": 0,
        "show": false,
        "thresholdLabels": false,
        "thresholdMarkers": true
      },
      "gridPos": {
        "h": 4,
        "w": 3,
        "x": 21,
        "y": 10
      },
      "id": 26,
      "interval": null,
      "links": [],
      "mappingType": 1,
      "mappingTypes": [
        {
          "name": "value to text",
          "value": 1
        },
        {
          "name": "range to text",
          "value": 2
        }
      ],
      "maxDataPoints": 100,
      "nullPointMode": "connected",
      "nullText": null,
      "postfix": " down",
      "postfixFontSize": "50%",
      "prefix": "",
      "prefixFontSize": "50%",
      "rangeMaps": [
        {
          "from": "null",
          "text": "N/A",
          "to": "null"
        }
      ],
      "sparkline": {
        "fillColor": "rgba(31, 118, 189, 0.18)",
        "full": false,
        "lineColor": "rgb(31, 120, 193)",
        "show": false
      },
      "tableColumn": "",
      "targets": [
        {
          "application": {
            "filter": "Zabbix server"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [
            {
              "def": {
                "category": "Aggregate",
                "defaultParams": [
                  "1m"
                ],
                "name": "sum",
                "params": [
                  {
                    "name": "interval",
                    "type": "string"
                  }
                ]
              },
              "params": [
                "1m"
              ],
              "text": "sum(1m)"
            }
          ],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "yj15-monitoring"
          },
          "item": {
            "filter": "Zabbix all agent docker down count3"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false,
            "skipEmptyValues": false
          },
          "refId": "A",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        }
      ],
      "thresholds": "1,5",
      "title": "Docker container all cnt",
      "type": "singlestat",
      "valueFontSize": "80%",
      "valueMaps": [
        {
          "op": "=",
          "text": "N/A",
          "value": "null"
        }
      ],
      "valueName": "current"
    },
    {
      "content": "",
      "gridPos": {
        "h": 1,
        "w": 6,
        "x": 18,
        "y": 14
      },
      "id": 29,
      "links": [],
      "mode": "markdown",
      "title": "NIC Bonding",
      "type": "text"
    },
    {
      "cacheTimeout": null,
      "colorBackground": true,
      "colorValue": false,
      "colors": [
        "#d44a3a",
        "rgba(237, 129, 40, 0.89)",
        "#299c46"
      ],
      "datasource": "zabbix",
      "decimals": null,
      "format": "none",
      "gauge": {
        "maxValue": 100,
        "minValue": 0,
        "show": false,
        "thresholdLabels": false,
        "thresholdMarkers": true
      },
      "gridPos": {
        "h": 4,
        "w": 3,
        "x": 18,
        "y": 15
      },
      "id": 30,
      "interval": null,
      "links": [],
      "mappingType": 1,
      "mappingTypes": [
        {
          "name": "value to text",
          "value": 1
        },
        {
          "name": "range to text",
          "value": 2
        }
      ],
      "maxDataPoints": 100,
      "nullPointMode": "connected",
      "nullText": null,
      "postfix": "",
      "postfixFontSize": "50%",
      "prefix": "",
      "prefixFontSize": "50%",
      "rangeMaps": [
        {
          "from": "null",
          "text": "N/A",
          "to": "null"
        }
      ],
      "sparkline": {
        "fillColor": "rgba(31, 118, 189, 0.18)",
        "full": false,
        "lineColor": "rgb(31, 120, 193)",
        "show": false
      },
      "tableColumn": "",
      "targets": [
        {
          "application": {
            "filter": "Zabbix server"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "monitoring"
          },
          "item": {
            "filter": "Zabbix all agent bonding up count"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false,
            "skipEmptyValues": false
          },
          "refId": "A",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        }
      ],
      "thresholds": "185,184",
      "title": "Up Bongind nic",
      "type": "singlestat",
      "valueFontSize": "80%",
      "valueMaps": [
        {
          "op": "=",
          "text": "not used",
          "value": "null"
        }
      ],
      "valueName": "current"
    },
    {
      "cacheTimeout": null,
      "colorBackground": true,
      "colorValue": false,
      "colors": [
        "#299c46",
        "rgba(237, 129, 40, 0.89)",
        "#d44a3a"
      ],
      "datasource": "zabbix",
      "format": "none",
      "gauge": {
        "maxValue": 100,
        "minValue": 0,
        "show": false,
        "thresholdLabels": false,
        "thresholdMarkers": true
      },
      "gridPos": {
        "h": 4,
        "w": 3,
        "x": 21,
        "y": 15
      },
      "id": 31,
      "interval": null,
      "links": [],
      "mappingType": 1,
      "mappingTypes": [
        {
          "name": "value to text",
          "value": 1
        },
        {
          "name": "range to text",
          "value": 2
        }
      ],
      "maxDataPoints": 100,
      "nullPointMode": "connected",
      "nullText": null,
      "postfix": "",
      "postfixFontSize": "50%",
      "prefix": "",
      "prefixFontSize": "50%",
      "rangeMaps": [
        {
          "from": "null",
          "text": "N/A",
          "to": "null"
        }
      ],
      "sparkline": {
        "fillColor": "rgba(31, 118, 189, 0.18)",
        "full": false,
        "lineColor": "rgb(31, 120, 193)",
        "show": false
      },
      "tableColumn": "",
      "targets": [
        {
          "application": {
            "filter": "Zabbix server"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [
            {
              "def": {
                "category": "Aggregate",
                "defaultParams": [
                  "1m"
                ],
                "name": "sum",
                "params": [
                  {
                    "name": "interval",
                    "type": "string"
                  }
                ]
              },
              "params": [
                "1m"
              ],
              "text": "sum(1m)"
            }
          ],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "monitoring"
          },
          "item": {
            "filter": "Zabbix all agent bonding down count"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false,
            "skipEmptyValues": false
          },
          "refId": "A",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        }
      ],
      "thresholds": "1,2",
      "title": "Down Bongind nic",
      "type": "singlestat",
      "valueFontSize": "80%",
      "valueMaps": [
        {
          "op": "=",
          "text": "not used",
          "value": "null"
        }
      ],
      "valueName": "current"
    },
    {
      "columns": [
        {
          "text": "cmd",
          "value": "cmd"
        },
        {
          "text": "@timestamp",
          "value": "@timestamp"
        },
        {
          "text": "user",
          "value": "user"
        },
        {
          "text": "received_at",
          "value": "received_at"
        },
        {
          "text": "host",
          "value": "host"
        },
        {
          "text": "pwd",
          "value": "pwd"
        },
        {
          "text": "client",
          "value": "client"
        }
      ],
      "datasource": "elasticsearch",
      "fontSize": "90%",
      "gridPos": {
        "h": 10,
        "w": 12,
        "x": 0,
        "y": 19
      },
      "id": 32,
      "links": [],
      "pageSize": null,
      "scroll": true,
      "showHeader": true,
      "sort": {
        "col": 1,
        "desc": true
      },
      "styles": [
        {
          "alias": "syslog date",
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "pattern": "@timestamp",
          "type": "date"
        },
        {
          "alias": "",
          "colorMode": null,
          "colors": [
            "rgba(245, 54, 54, 0.9)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(50, 172, 45, 0.97)"
          ],
          "decimals": 2,
          "pattern": "/.*/",
          "thresholds": [],
          "type": "number",
          "unit": "short"
        }
      ],
      "targets": [
        {
          "alias": "",
          "bucketAggs": [],
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "meta": {},
              "settings": {
                "size": 500
              },
              "type": "raw_document"
            }
          ],
          "query": "tags:commands",
          "refId": "A",
          "timeField": "@timestamp"
        }
      ],
      "title": "User Command history",
      "transform": "json",
      "type": "table"
    },
    {
      "columns": [
        {
          "text": "message",
          "value": "message"
        },
        {
          "text": "tags",
          "value": "tags"
        },
        {
          "text": "received_from",
          "value": "received_from"
        },
        {
          "text": "@timestamp",
          "value": "@timestamp"
        },
        {
          "text": "received_at",
          "value": "received_at"
        }
      ],
      "datasource": "elasticsearch",
      "fontSize": "90%",
      "gridPos": {
        "h": 10,
        "w": 12,
        "x": 12,
        "y": 19
      },
      "id": 9,
      "links": [],
      "pageSize": null,
      "scroll": true,
      "showHeader": true,
      "sort": {
        "col": 1,
        "desc": true
      },
      "styles": [
        {
          "alias": "syslog date",
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "pattern": "@timestamp",
          "type": "date"
        },
        {
          "alias": "",
          "colorMode": null,
          "colors": [
            "rgba(245, 54, 54, 0.9)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(50, 172, 45, 0.97)"
          ],
          "decimals": 2,
          "pattern": "/.*/",
          "thresholds": [],
          "type": "number",
          "unit": "short"
        }
      ],
      "targets": [
        {
          "alias": "",
          "bucketAggs": [],
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "meta": {},
              "settings": {
                "size": 500
              },
              "type": "raw_document"
            }
          ],
          "query": "tags:syslog",
          "refId": "A",
          "timeField": "@timestamp"
        }
      ],
      "title": "System syslog",
      "transform": "json",
      "type": "table"
    },
    {
      "columns": [],
      "datasource": "zabbix",
      "fontSize": "100%",
      "gridPos": {
        "h": 8,
        "w": 24,
        "x": 0,
        "y": 29
      },
      "id": 19,
      "links": [],
      "pageSize": null,
      "scroll": true,
      "showHeader": true,
      "sort": {
        "col": 2,
        "desc": true
      },
      "styles": [
        {
          "alias": "Last Value Time",
          "colorMode": null,
          "colors": [
            "rgba(245, 54, 54, 0.9)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(50, 172, 45, 0.97)"
          ],
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "decimals": 2,
          "pattern": "Time",
          "thresholds": [],
          "type": "date",
          "unit": "short"
        },
        {
          "alias": "Disk",
          "colorMode": null,
          "colors": [
            "rgba(245, 54, 54, 0.9)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(50, 172, 45, 0.97)"
          ],
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "decimals": 2,
          "pattern": "Metric",
          "preserveFormat": false,
          "thresholds": [],
          "type": "string",
          "unit": "short"
        },
        {
          "alias": "Free disk ",
          "colorMode": "row",
          "colors": [
            "rgba(245, 54, 54, 0.9)",
            "rgba(237, 129, 40, 0.89)",
            "rgba(50, 172, 45, 0.97)"
          ],
          "dateFormat": "YYYY-MM-DD HH:mm:ss",
          "decimals": 2,
          "pattern": "Value",
          "thresholds": [
            "20000000000",
            "10000000000"
          ],
          "type": "number",
          "unit": "bits"
        }
      ],
      "targets": [
        {
          "application": {
            "filter": "Filesystems"
          },
          "bucketAggs": [
            {
              "field": "@timestamp",
              "id": "2",
              "settings": {
                "interval": "auto",
                "min_doc_count": 0,
                "trimEdges": 0
              },
              "type": "date_histogram"
            }
          ],
          "functions": [],
          "group": {
            "filter": "Linux servers"
          },
          "host": {
            "filter": "$hostname"
          },
          "item": {
            "filter": "Free disk space on /rootfs"
          },
          "metrics": [
            {
              "field": "select field",
              "id": "1",
              "type": "count"
            }
          ],
          "mode": 0,
          "options": {
            "showDisabledItems": false
          },
          "refId": "A",
          "resultFormat": "time_series",
          "table": {
            "skipEmptyValues": false
          },
          "timeField": "@timestamp",
          "triggers": {
            "acknowledged": 2,
            "count": true,
            "minSeverity": 3
          }
        }
      ],
      "timeFrom": "60s",
      "title": "Disk Status",
      "transform": "timeseries_to_rows",
      "type": "table"
    }
  ],
  "refresh": false,
  "schemaVersion": 16,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": [
      {
        "allValue": null,
        "current": {},
        "datasource": "zabbix",
        "hide": 0,
        "includeAll": true,
        "label": "hostname",
        "multi": true,
        "name": "hostname",
        "options": [],
        "query": "{Linux servers}{*}",
        "refresh": 1,
        "regex": "",
        "sort": 1,
        "tagValuesQuery": "",
        "tags": [],
        "tagsQuery": "",
        "type": "query",
        "useTags": false
      },
      {
        "allValue": null,
        "current": {},
        "datasource": "zabbix",
        "hide": 2,
        "includeAll": true,
        "label": null,
        "multi": true,
        "name": "ceph_osd_disk",
        "options": [],
        "query": "{Linux servers}{*}{Filesystems}{*}",
        "refresh": 1,
        "regex": "/Free disk space on /rootfs/var/lib/ceph/osd/ceph-[0-9][0-9]$|Free disk space on /rootfs/var/lib/ceph/osd/ceph-[0-9]$/",
        "sort": 0,
        "tagValuesQuery": "",
        "tags": [],
        "tagsQuery": "",
        "type": "query",
        "useTags": false
      },
      {
        "allValue": null,
        "current": {},
        "datasource": "zabbix",
        "hide": 2,
        "includeAll": true,
        "label": "host",
        "multi": true,
        "name": "host",
        "options": [],
        "query": "{*}{*}",
        "refresh": 1,
        "regex": "",
        "sort": 0,
        "tagValuesQuery": "",
        "tags": [],
        "tagsQuery": "",
        "type": "query",
        "useTags": false
      },
      {
        "allValue": null,
        "current": {},
        "datasource": "zabbix",
        "hide": 2,
        "includeAll": true,
        "label": null,
        "multi": true,
        "name": "Incoming_network_traffic",
        "options": [],
        "query": "{Linux servers}{*}{Network interfaces}{*}",
        "refresh": 1,
        "regex": "/Incoming network traffic on eth*/",
        "sort": 0,
        "tagValuesQuery": "",
        "tags": [],
        "tagsQuery": "",
        "type": "query",
        "useTags": false
      },
      {
        "allValue": null,
        "current": {},
        "datasource": "zabbix",
        "hide": 2,
        "includeAll": true,
        "label": null,
        "multi": true,
        "name": "Outcoming_network_traffic",
        "options": [],
        "query": "{Linux servers}{*}{Network interfaces}{*}",
        "refresh": 1,
        "regex": "/Outgoing network traffic on eth*/",
        "sort": 0,
        "tagValuesQuery": "",
        "tags": [],
        "tagsQuery": "",
        "type": "query",
        "useTags": false
      }
    ]
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {
    "refresh_intervals": [
      "5s",
      "10s",
      "30s",
      "1m",
      "5m",
      "15m",
      "30m",
      "1h",
      "2h",
      "1d"
    ],
    "time_options": [
      "5m",
      "15m",
      "1h",
      "6h",
      "12h",
      "24h",
      "2d",
      "7d",
      "30d"
    ]
  },
  "timezone": "browser",
  "title": "Linux System Dashboard",
  "uid": "fUZJocWik",
  "version": 17
}
